.container{
  padding-top: 200px;
  /*text-align: center;*/
  font-family: 'Raleway', sans-serif;
}
#heading-main{
  font-size: 20px;
}
.heading-div{
  text-align: center;
  color: #30A9DE;
}
.search-bar {
  padding-top: 30px;
  padding-left: 30%;
  padding-right: 30%;

}
.input-group .form-control {
  border-radius: 0px;
  height: 70px;
  font-size: 30px;
  line-height: 50px;

}
search :active{
  border-bottom: 1px;
  border-color: #30A9DE;

}

#go{
  height: 70px;
  width: 80px;
  background-color: #30A9DE;
  border: none;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0px;
}
