.container{
  padding-top: 200px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.heading-div{
  text-align: center;
  color: #30A9DE;
}
.search-bar {
  padding-top: 30px;
  padding-left: 30%;
  padding-right: 30%;

}
.input-group .form-control {
  border-radius: 0px;

}
search :active{
  border-bottom: 1px;
  border-color: #30A9DE;

}

#go{
  background-color: #30A9DE;
  border: none;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0px;
}
