
.results-container{
  padding-top: 50px;
  font-family: 'Raleway', sans-serif;

}
.results-heading-div{
  text-align: center;
  color: #30A9DE;
}
.directories-div{
  width: 20%;
  float: left;
}
.files-div{
  width: 20%;
  float:left;
}
