{% extends "layout.html" %}
{% block title %}Search files{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
{% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
    <div class="container">
        <form class="" autocomplete="off" action="{{ url_for('search')}}" method="POST">
          <div class="input-group">
            <input type="text" class="form-control" id="search" name="search-input" placeholder="Search">
            <span  class="input-group-btn">
            <button class="btn btn-default" id="go" type="submit"><i class="fa fa-search fa-2x" aria-hidden="true"></i></button>
            </span>
          </div>
        </form>
      <!-- </div> -->
    </div>
  </div>
  <div class="col-md-4">

  </div>
</div>

{% endblock %}
